# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/

# Editor config
.vscode/
.idea/

# Projeto Específico (Não subir dados nem logs)
data/datasets/*
!data/datasets/.gitkeep
logs/*
!logs/.gitkeep

# Arquivos de sistema
.DS_Store
Thumbs.db

# Pandas-ta
!.venv\Lib\site-packages\pandas_ta
!.venv\Lib\site-packages\pandas_ta-0.3.14b0.dist-info